@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #050801;

}
.hover-effect {
  transition: all 0.3s ease-in-out;
}

.hover-effect:hover {
  background: #03e9f4;
  color: #050801;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}
.animation-delay-1 {
  animation-delay: 0.25s;
}
.animation-delay-2 {
  animation-delay: 0.5s;
}
.animation-delay-3 {
  animation-delay: 0.75s;
}
.animation-delay-4 {
  animation-delay: 1s;
  
}
.hero-dots-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-dots-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Create dots using background */
  background-image: radial-gradient(#404646 0.05px, transparent 0.05px),
                    radial-gradient(#677171 0.05px, transparent 0.05px);
  background-size: 10px 10px; /* Size of the dots grid */
}
.bg-pulse{
  width: 80px;
    height: 80px;
    background: #fff;
}
.pulse-delay-1{
  animation-duration: 10s;
}
.pulse-delay-2{
animation-duration: 9s;} 
.pulse-delay-3{
animation-duration: 12s;}
.pulse-delay-4{
animation-duration: 5s;}
.pulse-delay-5{
animation-duration: 15s;}

.projects-dots-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.projects-dots-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: radial-gradient(#181a1a 3px, transparent 0.5px),
                    radial-gradient(#1d1f1f 0.5px, transparent 0.5px);
  background-size: 20px 20px;
}

.skill-container .skill-fill {
  transform: translateY(100%);
  transition: transform 0.5s ease-out;
}

.skill-container:hover .skill-fill {
  transform: translateY(0) !important;
}

.bubble-animation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    radial-gradient(circle at 50% 100%, transparent 10px, rgba(255,255,255,0.3) 10px, rgba(255,255,255,0.3) 12px, transparent 12px) 0 0/20px 20px,
    radial-gradient(circle at 50% 100%, transparent 8px, rgba(255,255,255,0.3) 8px, rgba(255,255,255,0.3) 10px, transparent 10px) 10px 10px/20px 20px;
  background-repeat: repeat-x;
  animation: bubbleRise 2s linear infinite;
}

@keyframes bubbleRise {
  0% {
    background-position-y: 100%, 100%;
  }
  100% {
    background-position-y: -20px, -20px;
  }
}